## ต้องลง - conda install pandas- ก่อนที่จะ import pandas   
## อยู่ใน New -> terminal

## ตั้งชื่อในpandas ว่า pd

In [1]:
import pandas as pd

## สร้างตัวแปรเพื่อเก็บไฟล์ 
## PATH คือที่อยู่ของไฟล์
## เพิ่ม \ สองอัน

In [2]:
w_restaurant_PATH = 'C:\\Users\\User\\Desktop\\w_restaurant.csv'
seach_click_PATH = 'C:\\Users\\User\\Desktop\\search_click.csv'

## โหลดไฟล์เข้ามา load files into memory สร้างตัวแปรมารับ

In [3]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH, encoding = 'unicode_escape')
seach_click_df = pd.read_csv(seach_click_PATH, encoding = 'unicode_escape')

## เรียกไฟล์มาดูใช้คำสั่ง

In [4]:
w_restaurant_df

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
246843,340070,à¸ªà¸°à¸à¸²à¸¢à¸à¸µ à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,NaN,w4rwjcg,0,0.000000,NaN,...,1.0,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
246844,340074,à¸ªà¹à¸à¹à¸à¹à¸¡à¹&à¸à¸²à¹à¸à¸¥à¸¹à¸,1,0,Bangkok Metropolitan Region,10160,w4rmvxf,0,4.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246845,340079,Mom Made,1,0,Nakhon Si Thammarat,80000,w1x04g6,0,5.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246846,340091,à¸à¹à¸§à¸¢à¹à¸à¸µà¹à¸¢à¸§à¸«à¸¡à¸¹à¸à¹à...,1,0,Suphan Buri,72000,w4x4q7s,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## เรียกไฟล์มาดูใช้คำสั่งเฉพาะหัวตาราง

In [5]:
seach_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.220000e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.610000e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.580000e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.400000e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.330000e+14,True

## เรียกไฟล์มาดูใช้คำสั่งเฉพาะท้ายตาราง

In [6]:
seach_click_df.tail()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
1048570,05:28.8,99aab616-6fc5-4fbf-994b-4aebee7bb360,278479.0,8,2.070000e+11,False
1048571,15:28.8,d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a,321885.0,8,6.931413e+10,False
1048572,11:49.4,4c1de7fe-300e-41aa-9d01-914344fc3753,221035.0,8,3.105162e+10,False
1048573,10:33.7,2ec0ddec-e450-4b98-9779-42b77aa7eda5,220572.0,8,7.848904e+10,False
1048574,13:51.4,5741d9cf-b9f1-441d-aa83-d2b0179bf874,310448.0,8,3.157757e+10,False

## คำสั่งดูรูปร่างตาราง(มีdataกี่ตัว,จำนวนแถว)

In [7]:
seach_click_df.shape

(1048575, 6)

## Data preprocessing

## missing คือที่อยู่ในตารางแล้วไม่มีค่า
## คำสั่งนี้จะเข้าไปดูแต่ละช่องว่ามี isnull มั้ย

In [8]:
w_restaurant_df.isnull()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246842,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,True
246843,False,False,False,False,False,True,False,False,False,True,...,False,True,False,True,True,False,True,True,True,True
246844,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
246845,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
246846,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True

## จะเอาหลักมารวมกันเพื่อให้ดูง่าย

In [9]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## วิธีจัดการ missing
## 1.ตัดออก
## 2.แทนค่า missing
## 3.หาค่าเฉลี่ยมาเติม

## วิธีแก้ แบบ 1.ตัดออก delete with missing value จะลบค่าที่มีmissing ออก
## na แปลว่าไม่มีค่า

In [10]:
w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
61,114,à¸¡à¸²à¸à¸µà¸¡à¸µà¸à¸¡,1,0,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
114,224,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Bangkok Metropolitan Region,10120,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,225,Mr.shake,1,0,Bangkok Metropolitan Region,10150,w4rmky3,0,0.000000,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,267,KFC,1,0,Bangkok Metropolitan Region,10170,w4rqq7v,0,2.846154,629.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
140,297,Miss Mamon,1,1,Bangkok Metropolitan Region,10400,w4rw22t,0,3.147959,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246722,339787,Chang coffee,1,0,Chiang Mai,50100,w5q6szv,0,3.537037,102.0,...,1.0,0.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
246752,339864,Hokkaido,1,0,Bangkok Metropolitan Region,10170,w4rqkf3,0,3.191781,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246815,340000,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Nakhon Sawan,17000,w4xqf9k,0,3.166667,98.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246834,340048,Kuppadeli,1,1,Bangkok Metropolitan Region,10110,w4rw0e8,0,0.000000,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## หาตัวแปรมารับ

In [11]:
w_restaurant_df = w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

## 2.แทนค่า missing, fill defauit value to the data

## จะเติมค่าที่เป็นmissing ด้วย 0

In [12]:
w_restaurant_df['parking'].fillna(0)

61        3.0
114       3.0
115       0.0
131       3.0
140       3.0
         ...
246722    1.0
246752    3.0
246815    3.0
246834    0.0
246842    3.0
Name: parking, Length: 13669, dtype: float64

## update ข้อมูลในตาราง

In [13]:
w_restaurant_df['parking'] = w_restaurant_df['parking'].fillna(0)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## วิธีตัดตารางมาเฉพาะบางส่วนของตาราง select part the table by value
## ได้listของบุริน

### 1.ต้องการร้านที่มีที่จอดรถมากกว่า 5 จะได้ค่า T or F

In [14]:
w_restaurant_df['parking'] > 5

61        False
114       False
115       False
131       False
140       False
          ...
246722    False
246752    False
246815    False
246834    False
246842    False
Name: parking, Length: 13669, dtype: bool

## 2.เลือกค่าในตาราง

## part of table = table[data_condition == True]

In [15]:
w_restaurant_df[w_restaurant_df['parking']>=3]

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
61,114,à¸¡à¸²à¸à¸µà¸¡à¸µà¸à¸¡,1,0,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
114,224,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Bangkok Metropolitan Region,10120,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,267,KFC,1,0,Bangkok Metropolitan Region,10170,w4rqq7v,0,2.846154,629.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
140,297,Miss Mamon,1,1,Bangkok Metropolitan Region,10400,w4rw22t,0,3.147959,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
149,344,Inthanin Coffee,1,0,Bangkok Metropolitan Region,10700,w4rqx1q,0,3.000000,213.0,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246646,339670,Four Seasons Chinese Restaurant,1,0,Bangkok Metropolitan Region,10230,w4rw98b,0,3.781711,6.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
246684,339718,Jeffer Steak,1,0,Bangkok Metropolitan Region,10312,w4rw37q,0,4.000000,87.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246752,339864,Hokkaido,1,0,Bangkok Metropolitan Region,10170,w4rqkf3,0,3.191781,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246815,340000,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Nakhon Sawan,17000,w4xqf9k,0,3.166667,98.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## HW select all restaurants from your hometown เลือกจังหวัดของตนเอง

In [16]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH ,encoding = 'unicode_escape')

In [17]:
set(w_restaurant_df['city_name'])

{'Abu Dhabi',
 'Aichi-ken',
 'Akershus',
 'Akita-ken',
 'Al Farwaniyah Governorate',
 'Alabama',
 'Alaska',
 'Alberta',
 'Amnat Charoen',
 'AndalucÃ\xada',
 'Ang Thong',
 'Aomori-ken',
 'Appenzell Ausserrhoden',
 'Appenzell Innerrhoden',
 'AragÃ³n',
 'Argyll and Bute',
 'Arizona',
 'Attica',
 'Auckland',
 'Australia',
 'Auvergne-RhÃ´ne-Alpes',
 'AydÄ±n',
 'Ba Ria - Vung Tau',
 'Baden-Wurttemberg',
 'Bago Region',
 'Bahia',
 'Bali',
 'Balochistan',
 'Bangkok Metropolitan Region',
 'Banteay Meanchey Province',
 'Banten',
 'Basel-Stadt',
 'Basilicata',
 'Basrah',
 'Battambang',
 'Bay Of Plenty',
 'Bayern',
 'Berlin',
 'Bern',
 'Bihar',
 'Binh Thuan',
 'Binh Thuan province',
 'Borno',
 'Bratislava',
 'Bremen',
 'Bretagne',
 'British Columbia',
 'Brussels Hoofdstedelijk Gewest',
 'Buckinghamshire',
 'Budapest',
 'Bueng Kan',
 'Buri Ram',
 'Busan',
 'Buskerud',
 'C2 MALL',
 'CALABARZON',
 'Cairo Governorate',
 'California',
 'Cambodia',
 'Canterbury',
 'Capital Governorate',
 'Capital Region',
 'Capital Region of Denmark',
 'Castilla-La Mancha',
 'Catalonia',
 'Central Development Region',
 'Central Visayas',
 'Centre-Val de Loire',
 'Chachoengsao',
 'Chai Nat',
 'Chaiyaphum',
 'Champasak Province',
 'Changhua County',
 'Chanthaburi',
 'Chiang Mai',
 'Chiang Rai',
 'Chiayi City',
 'Chiayi County',
 'Chiba-ken',
 'China',
 'Chon Buri',
 'Chongqing Shi',
 'Chumphon',
 'Chungcheongnam-do',
 'City of Zagreb',
 'Colorado',
 'Comunidad de Madrid',
 'County Cork',
 'County Dublin',
 'County Galway',
 'County Kerry',
 'Cusco',
 'Daegu',
 'Daejeon',
 'Daerah Brunei-Muara',
 'Daerah Istimewa Yogyakarta',
 'Dar es Salaam',
 'Delhi',
 'Denizli',
 'Departamento de La Paz',
 'Departamento de PotosÃ\xad',
 'District of Columbia',
 'Dubai',
 'DubrovaÄ\x8dko-neretvanska Å¾upanija',
 'Ehime-ken',
 'England',
 'Espoo',
 'Federal',
 'Finland',
 'Finnmark',
 'Florida',
 'Fribourg',
 'Fujian Sheng',
 'Fukui-ken',
 'Fukuoka-ken',
 'Fukushima-ken',
 'Gangwon-do',
 'Gelderland',
 'Geneva',
 'George Town',
 'Georgia',
 'Gifu-ken',
 'Gloucestershire',
 'Gombe',
 'Grand Est',
 'GraubÃ¼nden',
 'Greater London',
 'Greater Manchester',
 'Guangdong Sheng',
 'Guangxi Zhuangzuzizhiqu',
 'Guinea',
 'Gunma-ken',
 'Gyeonggi-do',
 'Gyeongsangbuk-do',
 'Hainan Sheng',
 'Hampshire',
 'Harju maakond',
 'Hauts-de-France',
 'Hawaii',
 'Hessen',
 'Hiiraan',
 'Hiroshima-ken',
 'Hokkaido',
 'Hordaland',
 'Hsinchu City',
 'Hsinchu County',
 'Hua Hin',
 'Hunan',
 'Hyogo-ken',
 'HÃ\xa0 Ná»\x99i',
 'HÃ¶fn Ã\xad HornafirÃ°i',
 'Há»\x93 ChÃ\xad Minh',
 'Ibaraki-ken',
 'Iceland',
 'Illinois',
 'Incheon',
 'India',
 'Inner Mongolia',
 'Ireland',
 'Ishikawa-ken',
 'Istanbul',
 'Iwate-ken',
 'Jakarta Capital Region',
 'Jawa Barat',
 'Jawa Timur',
 'Jeju-do',
 'Jeollabuk-do',
 'Jharkhand',
 'Jiangsu Sheng',
 'Jiangxi Sheng',
 'JihoÄ\x8deskÃ½ kraj',
 'Johor',
 'JudeÈ\x9bul ConstanÈ\x9ba',
 'Kagoshima',
 'Kalasin',
 'Kamphaeng Phet',
 'Kanagawa-ken',
 'Kanchanaburi',
 'Kaohsiung City',
 'Karlovy Vary Region',
 'Karnataka',
 'Kayes',
 'Kedah',
 'Keelung City',
 'Kelantan',
 'Kepulauan Riau',
 'Khammouane Province',
 'Khartoum',
 'Khon Kaen',
 'KhÃ¡nh HoÃ\xa0',
 'Kinshasa',
 'Koh Kong Province',
 'Kowloon',
 'Krabi',
 'Kumamoto-ken',
 'Kyoto-fu',
 'KÃ¸benhavn',
 'Lac',
 'Lampang',
 'Lamphun',
 'Lancashire',
 'Lao Cai',
 'Lazio',
 "Leningradskaya oblast'",
 'Liaoning',
 'Liguria',
 'Lima',
 'Limerick',
 'Lisboa',
 'Lithuania',
 'LiÄ\x8dko-senjska Å¾upanija',
 'Loei',
 'Lombardia',
 'Lopburi',
 'Louisiana',
 'Luang Prabang Province',
 'Luxembourg',
 'Luxor Governorate',
 'Luzern',
 'LÃ¢m Ä\x90á»\x93ng',
 'Macau',
 'Madrid',
 'Magway Region',
 'Maha Sarakham',
 'Maharashtra',
 'Malacca',
 'Maldives',
 'Mandalay Region',
 'Marlborough',
 'Maryland',
 'Masovian Voivodeship',
 'Massachusetts',
 'Mayo',
 'Metro Manila',
 'Michigan',
 'Mid-Western Development Region',
 'Mie-ken',
 'Minnesota',
 'Miyagi-ken',
 'Mon State',
 'Moscow',
 "Moskovskaya oblast'",
 'Mukdahan',
 'Munxar',
 "Murmanskaya oblast'",
 'Nagano-ken',
 'Nagasaki-ken',
 'Nakhon Nayok',
 'Nakhon Phanom',
 'Nakhon Ratchasima',
 'Nakhon Sawan',
 'Nakhon Si Thammarat',
 'Nan',
 'Nantou County',
 'Nara-ken',
 'Narathiwat',
 'Naxos',
 'Negeri Sembilan',
 'Nevada',
 'Nevsehir',
 'New Hampshire',
 'New Jersey',
 'New South Wales',
 'New Taipei City',
 'New Territories',
 'New York',
 'New Zealand',
 'Newfoundland and Labrador',
 'Nghá»\x87 An',
 'Niedersachsen',
 'NiederÃ¶sterreich',
 'Niigata-ken',
 'Nong Bua Lam Phu',
 'Nong Khai',
 'Noord-Holland',
 'Nordrhein-Westfalen',
 'Normandie',
 'North Central Province',
 'Northern Ireland',
 'Northern Territory',
 'Nouvelle-Aquitaine',
 "Novosibirskaya oblast'",
 'Nusa Tenggara Barat',
 'Oaxaca',
 'OberÃ¶sterreich',
 'Obwalden',
 'Ohio',
 'Okayama-ken',
 'Okinawa-ken',
 'Oklahoma',
 'Ontario',
 'Oregon',
 'Oslo',
 'Otago',
 'Pahang',
 'Pakistan',
 'Palau',
 'Pardubice Region',
 'Pattani',
 'Penang',
 'Pennsylvania',
 'Perak',
 'Phang-nga',
 'Phatthalung',
 'Phayao',
 'Phetchabun',
 'Phetchaburi',
 'Phichit',
 'Phitsanulok',
 'Phnom Penh',
 'Phra Nakhon Si Ayutthaya',
 'Phrae',
 'Phuket',
 'Piemonte',
 'PlzeÅ\x88 Region',
 'Porto',
 'Postojna',
 'Prachin Buri',
 'Prachuap Khiri Khan',
 'Prague',
 'Preah Sihanouk',
 'Primorskiy kray',
 'Primorsko-goranska Å¾upanija',
 "Provence-Alpes-CÃ´te d'Azur",
 'Pulau Pinang',
 'Punjab',
 'Qatar',
 'Qinghai Sheng',
 'Quebec',
 'Queensland',
 'Quáº£ng Nam',
 'Quáº£ng Ninh',
 'Ranong',
 'Ratchaburi',
 'Rayong',
 'Region Zealand',
 'Rheinland-Pfalz',
 'Riau',
 'Roi Et',
 'RÃ©gion de Kidal',
 'RÄ«gas pilsÄ\x93ta',
 'Sa Kaeo',
 'Sabah',
 'Sachsen-Anhalt',
 'Saga-ken',
 'Saint Petersburg',
 'Sainyabuli Province',
 'Saitama-ken',
 'Sakon Nakhon',
 'Salzburg',
 'Samut Songkhram',
 'Sankt Gallen',
 'Saraburi',
 'Satun',
 'Savannakhet Province',
 'Saxony',
 'Schaffhausen',
 'Scotland',
 'Selangor',
 'Seoul',
 'SetÃºbal',
 'Shaanxi Sheng',
 'Shan',
 'Shandong Sheng',
 'Shanghai',
 'Shanxi Sheng',
 'Shiga-ken',
 'Shizuoka-ken',
 'Si Sa Ket',
 'Sichuan Sheng',
 'Siem Reap',
 'Sing Buri',
 'Singapore',
 'Slough',
 'South Carolina',
 'Southern Islands',
 'Southland',
 'Splitsko-dalmatinska Å¾upanija',
 'Stavropolskiy kray',
 'Stockholms lÃ¤n',
 'Sukhothai',
 'Sumatera Utara',
 'Suphan Buri',
 'Surat Thani',
 'Surin',
 'Svay Rieng',
 'Taichung City',
 'Tainan City',
 'Taipei City',
 'Tak',
 'Tamil Nadu',
 'Tanintharyi Region',
 'Taoyuan City',
 'Tasmania',
 'Tehran',
 'Telangana',
 'Texas',
 'Thailand',
 'Thimphu',
 'Thua Thien Hue',
 'Tianjin',
 'Ticino',
 'Tirol',
 'Tochigi-ken',
 'Tokyo-to',
 'Tottori-ken',
 'Toyama-ken',
 'Trabzon',
 'Trang',
 'Trat',
 'Troms',
 'Tuscany',
 'Ubon Ratchathani',
 'Udon Thani',
 'Uri',
 'Utah',
 'Uthai Thani',
 'Utrecht',
 'Uttar Pradesh',
 'Uttaradit',
 'Vaduz',
 'Valais',
 'Valletta',
 'Vantaa',
 'Vaud',
 'Veneto',
 'Victoria',
 'Vientiane Prefecture',
 'Vientiane Province',
 'Virginia',
 'Vlaanderen',
 "Vladimirskaya oblast'",
 'Vorarlberg',
 'Waikato',
 'Wakayama-ken',
 'Wales',
 'Wallonie',
 'Washington',
 'Waterford',
 'West Bengal',
 'West Midlands',
 'West Sussex',
 'Western Australia',
 'Western Cape',
 'Wien',
 'Wilayah Persekutuan Putrajaya',
 'Wisconsin',
 'WojewÃ³dztwo podkarpackie',
 'Xinjiang Weiwuerzizhiqu',
 'Xizang (Tibet)',
 'Yala',
 'Yamagata-ken',
 'Yamaguchi-ken',
 'Yamanashi-ken',
 'Yangon',
 'Yasothon',
 'Yilan County',
 'Yunlin County',
 'Yunnan Sheng',
 'Zhejiang',
 'Zuid-Holland',
 'Zurich',
 'kujawsko-pomorskie',
 'lubelskie',
 'maÅ\x82opolskie',
 'pomorskie',
 'tá»\x89nh KiÃªn Giang',
 'wielkopolskie',
 'Ã\x87anakkale',
 'Ã\x8ele-de-France',
 'Ä\x90iá»\x87n BiÃªn',
 'Ä\x90Ã\xa0 Náºµng',
 'Ä°stanbul',
 'Ä°zmir',
 'Å\x8cita-ken',
 'Å\x8csaka-fu',
 'Ù\x85Ø\xadØ§Ù\x81Ø¸Ø© Ø§Ù\x84Ù\x85Ø\xadØ±Ù\x82',
 'à¸ªà¸\x87à¸\x82à¸¥à¸²',
 'à¹\x80à¸\x82à¸²à¹\x83à¸«à¸\x8dà¹\x88'}

In [18]:
 w_restaurant_df[w_restaurant_df['city_name']] = 'Khon Kaen'

In [19]:
w_restaurant_df['name']

0          à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡
1                                              Corner House
2                à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡
3                à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°
4                                               Buono Caffe
                                ...
246842                                           Sushi Tama
246843    à¸ªà¸°à¸à¸²à¸¢à¸à¸µ à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°
246844       à¸ªà¹à¸à¹à¸à¹à¸¡à¹&à¸à¸²à¹à¸à¸¥à¸¹à¸
246845                                             Mom Made
246846    à¸à¹à¸§à¸¢à¹à¸à¸µà¹à¸¢à¸§à¸«à¸¡à¸¹à¸à¹à...
Name: name, Length: 246847, dtype: object

In [20]:
w_restaurant_df[w_restaurant_df['City_name'] = 'Khon Kaen']

SyntaxError: invalid syntax (<ipython-input-20-92259491f9d5>, line 1)

## save table to a file

In [ ]:
w_restaurant_df.to_csv('test.csv')